h2 Give some swipes:
.col-md-5
  h3 What time are you available to swipe someone in?
  #datetimepicker
javascript:
  $(function () {
            $('#datetimepicker').datetimepicker({
                inline: true,
                sideBySide: true,
                minDate: new Date(),
                stepping: 5
            });
        });
