h2 Give some swipes:
.col-md-12
  form.form-horizontal(action=url('/giveaway') method='post')
    h3 What time are you available to swipe someone in?
    h4 From:  
    #datetimepickerFrom
      input.form-control(name = 'timeFrom' style='display:none' required = true)
    h4 To:
    #datetimepickerTo
      input.form-control(name = 'timeTo' style='display:none' required = true)
    h4.
    button.btn.btn-primary(type='submit') Add Swipe
javascript:
  $(function () {
            $('#datetimepickerFrom').datetimepicker({
                inline: true,
                sideBySide: true,
                stepping: 5
            });
            $('#datetimepickerTo').datetimepicker({
                inline: true,
                sideBySide: true,
                stepping: 5
            });
            $("#datetimepickerFrom").on("dp.change",function (e) {
              $('#datetimepickerTo').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepickerTo").on("dp.change",function (e) {
              $('#datetimepickerFrom').data("DateTimePicker").maxDate(e.date);
            });
        });
